<div class="to-buy-element">
    <div class='to-buy-info'>
        <span class="row-1"><%= pizza.title %><%= pizza.size %></span>
        <p class="row-2"><img src='assets/images/size-icon.svg'>
            <span> size </span>
            <img src='assets/images/weight.svg'>
            <span> weight </span>
        </p>
        <p class="row-3"><span>price</span>
            <button class="minus">-</button>
            <span> quantity </span>
            <button class="plus">+</button>
            <button class="delete">&#215;</button>
        </p>
    </div>
    <img class='to-buy-img' src='assets/images/pizza_1.jpg'>
</div>                      