<div class='book-wrapper'>
    <div class='book-container'>
        <div class='book-main-part'>
            <img class='book-icon' src='<%=book.icon%>'>
            <span class='book-title'>Назва:<%=book.title%></span>
            <span class='book-genre'>Жанр:<%=book.genre%></span>
        </div>
        <span class='book-review'><%=book.genre%></span>
    </div>
</div>